body{
  background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}
.App {
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.App-link {
  color: #61dafb;
}

.content-wrapper{
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  border-radius: 20px;
  padding: 2rem;
  width: 500px !important;
  
}
.validation{
  font-size: 2rem;
  color: green;
  font-weight: bold;
  padding-bottom: 1rem;
}
.valid{
  color: green;
}
.invalid{
  color: rgb(204, 33, 33);
}